.smallFonts li, .smallFonts .ddTitleText {background-image:url(calligraphyfonts.png); background-repeat:no-repeat;}
.s0d1f6ef5d7585adf946de3b837dbe0d4 { background-position: 0 0; } 
.s1ada6a2f79224d626e27266b6f8828de { background-position: 0 -45px; } 
.s2b9cc395107841fee71668cdda105b49 { background-position: 0 -90px; } 
.s2ccd706187e6b8a20248226f0db68e7f { background-position: 0 -135px; } 
.s2ec3250ef4a33a823e93737bf3e38380 { background-position: 0 -180px; } 
.s2f5259b167c19d83f32bf07c21605bf7 { background-position: 0 -225px; } 
.s3c2ff0431b5910f049492275ebde6c93 { background-position: 0 -270px; } 
.s3ca0c0ae1d0633b63aa078717ac81e0d { background-position: 0 -315px; } 
.s3e246660d531610e52d62003272d6f89 { background-position: 0 -360px; } 
.s3e8226783cb18df414eb20710006b830 { background-position: 0 -405px; } 
.s3e134656938169ca70749b079d995602 { background-position: 0 -450px; } 
.s04cc87fcbc6c073a1bd6898c6af37708 { background-position: 0 -495px; } 
.s4ae54b9553641d0eb85cba1e9d04b2df { background-position: 0 -540px; } 
.s4b892190460a3d8ef253df87ec3c035a { background-position: 0 -585px; } 
.s4c233ef08d22b6e26466f3c67b4748fc { background-position: 0 -630px; } 
.s4f8087b25db5f33069ab695d69252ad5 { background-position: 0 -675px; } 
.s5a801b008093933fe5bb31ea7de0239c { background-position: 0 -720px; } 
.s5c24758cf066b1389bf077079899d776 { background-position: 0 -765px; } 
.s5f0ded6e718d493b979b814cea8e42ff { background-position: 0 -810px; } 
.s6be8db32d732fb3fe6d5c48106f30206 { background-position: 0 -855px; } 
.s6bed7bb6fd27483d2b5460c10afb8532 { background-position: 0 -900px; } 
.s6c5e9c0f0496a14e20b092361fc21aaa { background-position: 0 -945px; } 
.s07b2c9ad99865ac9483830fbb415fda3 { background-position: 0 -990px; } 
.s7afff8bf84e136fe036e2d16e3a87b51 { background-position: 0 -1035px; } 
.s7e574e280f90e4dd88cd5555016d8817 { background-position: 0 -1080px; } 
.s7f1d0f86a76c0bca2c395e928177720f { background-position: 0 -1125px; } 
.s8a6861897e229dea818fc0bcefefe511 { background-position: 0 -1170px; } 
.s8d751a04185697032d73999adc9a1f2a { background-position: 0 -1211px; } 
.s8e3f9caf2821bc921582e407662237b5 { background-position: 0 -1256px; } 
.s9a0821e79bf667a500657cca921ab5a2 { background-position: 0 -1301px; } 
.s9c3097ed6913c7ce0d5ec0bd14a52e65 { background-position: 0 -1346px; } 
.s9cc0a912341a7fcb0e26e1b990e06c4d { background-position: 0 -1391px; } 
.s9eaf28ca2f8af923a050a95f27ac2995 { background-position: 0 -1436px; } 
.s20fd6b4c576693c9722a515c01f84878 { background-position: 0 -1481px; } 
.s25d9222898017ac33c9e55cc3a532170 { background-position: 0 -1526px; } 
.s27bf281f01c23a297137ca60cec30448 { background-position: 0 -1571px; } 
.s27f76d0089b789f19facb92033cecaed { background-position: 0 -1616px; } 
.s31dd24019fed77985cd15634e9e66c53 { background-position: 0 -1661px; } 
.s32fd7fcca19382156ac0a8eb5db4ce29 { background-position: 0 -1706px; } 
.s39f2ce92bf9afe8cafd5293cbdaade30 { background-position: 0 -1751px; } 
.s51e34c8396f19861b03bc677b52b2f71 { background-position: 0 -1795px; } 
.s67a35d7b1d36c4fd274138f4b787db57 { background-position: 0 -1840px; } 
.s72c9cc57f1f155bd25b14a7100774dfa { background-position: 0 -1885px; } 
.s79e41c61c96a52136539b1f5ba9942a6 { background-position: 0 -1930px; } 
.s81d28394ba57acd5d6a160205a399e37 { background-position: 0 -1975px; } 
.s84e71ed502edb36d47a28a07a6d29bb5 { background-position: 0 -2020px; } 
.s85ffe55e0508d42a72ba9a4d9b5c42ad { background-position: 0 -2065px; } 
.s091c4ac42d111c6b2300c3687591e58c { background-position: 0 -2110px; } 
.s94efb264ad675f4ba4df3880f6773258 { background-position: 0 -2155px; } 
.s271e5efac8f3eb1a88e3bd2d9e01cdae { background-position: 0 -2200px; } 
.s284b1d659314dd0dfaae2f934aaf91f8 { background-position: 0 -2245px; } 
.s394fe608c2aeca90c6c5ec084539c99b { background-position: 0 -2290px; } 
.s446f90347101dbfb5cd1b199650d903a { background-position: 0 -2335px; } 
.s0490d0c9dfe7ec55d7924dc0fa45204f { background-position: 0 -2380px; } 
.s526c3de901119eeb4a1779a7811827e2 { background-position: 0 -2425px; } 
.s746e839a8cf88a87b6d36b21b5feffda { background-position: 0 -2470px; } 
.s0839dc2121c1c95dfec7d697e10d20b5 { background-position: 0 -2515px; } 
.s900e8d39ae86ceffdd2aed4dbc20b99e { background-position: 0 -2560px; } 
.s02516c6a175deaea64c4305f46926105 { background-position: 0 -2605px; } 
.s7037cc0e876a3a9ee97d3ced20114dac { background-position: 0 -2650px; } 
.s7240f380a19510c1ab0cc8d7c0447cd7 { background-position: 0 -2695px; } 
.s8382ce756a53d62de9253cfea867c074 { background-position: 0 -2740px; } 
.s32597c1c1c84b347397d980e4d60acc0 { background-position: 0 -2785px; } 
.s81133c1826654faa2d0e8db8083edad4 { background-position: 0 -2830px; } 
.s428860b0385b787df4878ee9ab5c9b6e { background-position: 0 -2875px; } 
.s495952d05ba657a759aed013fb8114da { background-position: 0 -2920px; } 
.s2055261ab187e77020a80828fe0de1e2 { background-position: 0 -2965px; } 
.s7463158c8e2b98dc9b82ff307eff1994 { background-position: 0 -3010px; } 
.s042880754e6469ebb7c1d76c4d10d3ef { background-position: 0 -3055px; } 
.s237839388f447118646054bef57c2757 { background-position: 0 -3100px; } 
.s1339153382f7f4d0bc2dc806794d9f1e { background-position: 0 -3145px; } 
.s3676603351d887c426681e8dbb253c6a { background-position: 0 -3190px; } 
.s7001998339dde8cb58240b8834794680 { background-position: 0 -3235px; } 
.sa1d55f3e13211e5dd100fd9fed97dedb { background-position: 0 -3280px; } 
.sa3a1473aeb4dc6f87f5edf63e377fad1 { background-position: 0 -3325px; } 
.sa04ca995509b4ad064f5aa272aadff9e { background-position: 0 -3370px; } 
.sa5c4113063c4f4723b725b0eb1f961f8 { background-position: 0 -3415px; } 
.sa8afcec200dbba2eafa0c303696d3c67 { background-position: 0 -3460px; } 
.sa19c62f1f6afb2cc500fd0a6c7423337 { background-position: 0 -3505px; } 
.sa75ebb55b3bf531eb399ff31c6d7c6a4 { background-position: 0 -3550px; } 
.sa4381a011e05b9deea46677a242f7161 { background-position: 0 -3595px; } 
.sa5780dfcd45d615cbf0fa105cd1f1151 { background-position: 0 -3640px; } 
.sa54689fe0a78f433e4fced468c9361dc { background-position: 0 -3685px; } 
.sa82924b23f3ac67b1475f74d8032b8e9 { background-position: 0 -3730px; } 
.saa5771728a8fbf792756cb0cb565b829 { background-position: 0 -3775px; } 
.sad9c3029de582813128a0d2ff5ab45b4 { background-position: 0 -3820px; } 
.saf1b8b1536b866b6a09da15ec3c7ecb0 { background-position: 0 -3865px; } 
.sb6e7e9a4795884849be95c309d66ed56 { background-position: 0 -3910px; } 
.sb99b3a75e21acab9a5db1cb968e42118 { background-position: 0 -3955px; } 
.sbc8c256dcb7ab4ec8f8d891d4d4b6f67 { background-position: 0 -4000px; } 
.sbe0b2ea5a3bf78dfbeb05d5d6c4ba07c { background-position: 0 -4045px; } 
.sbec143659687d561d13ea2a66fd9b77a { background-position: 0 -4090px; } 
.sbf4c8451836490667cbf9e13682f2b5d { background-position: 0 -4135px; } 
.sbf101c1060337e823d24d843ac4ae123 { background-position: 0 -4180px; } 
.sc5dbaa39e7835147208bbd26fa82c12c { background-position: 0 -4225px; } 
.sc9a083baefe82d4333a6ede7ce561eb2 { background-position: 0 -4270px; } 
.sc82da09ac132352735ffb5565c7edb61 { background-position: 0 -4315px; } 
.sca1735f4a8c9261703fb0581f8b7697a { background-position: 0 -4360px; } 
.scb3074f1064dde1fdf34b5655f00da5f { background-position: 0 -4405px; } 
.scbc90ab312c306f27ddd33cf201cf12d { background-position: 0 -4450px; } 
.sd0d5f9e0bd3e0fefcedd325cf8830c6d { background-position: 0 -4495px; } 
.sd1eee4afd54ae918f940e03471f0ca67 { background-position: 0 -4540px; } 
.sd92e1f33c0c6183ef94b0a40b28c61f4 { background-position: 0 -4585px; } 
.sdbba4389d5458b20a00af7666bd51686 { background-position: 0 -4630px; } 
.sdbc4f26ff2cc2670cdce3d052fd7f7f8 { background-position: 0 -4675px; } 
.sdca693052f718675a27ae20b2eb59c69 { background-position: 0 -4720px; } 
.sdd45cef60de31bb61f89ac148c2d6a54 { background-position: 0 -4765px; } 
.sddf105f30c91b071c9489fb35876ab03 { background-position: 0 -4810px; } 
.sdfc5c960e1dd31ef57e5b26c9eef7be1 { background-position: 0 -4855px; } 
.se4ac65593073c3916f0a4ec461997651 { background-position: 0 -4900px; } 
.se09bc740fe07e07b8d56065c1670a94c { background-position: 0 -4945px; } 
.se22e8a2938ba0b6f1712a7007c3a8286 { background-position: 0 -4990px; } 
.se80a5ea9b10a013bf4b0d0c1394afe56 { background-position: 0 -5035px; } 
.se812ae8953b48a6f7c90236ba627d06f { background-position: 0 -5080px; } 
.se838b829c940aa02ad47d059f22e1da6 { background-position: 0 -5125px; } 
.se001200df36c5566ab373ee721dd01b8 { background-position: 0 -5170px; } 
.sec78f207d8e4307e628ea4f451fab1b5 { background-position: 0 -5215px; } 
.sec560788d896ab5f7e9ef8f86312fbd9 { background-position: 0 -5260px; } 
.secd0541ca9d117cc0fef94000e1f193f { background-position: 0 -5305px; } 
.sf3dad26bae87a53eaa3fa343a4e4e5f9 { background-position: 0 -5350px; } 
.sf4ec917ec90686ecbbab03af5b6bb6e6 { background-position: 0 -5395px; } 
.sf52eddc37f9cb8483421dfb4db716bb6 { background-position: 0 -5440px; } 
.sfc25ecf430241801e6bfdf1a804d68ee { background-position: 0 -5485px; } 
.sfcfe881ae1afa2afcd31576877a13bfd { background-position: 0 -5530px; } 
.sfdccecbe0e5916fc294ee353afe4da1b { background-position: 0 -5575px; } 
.sffa02b2b0efa5b39fffa397a63d9e45b { background-position: 0 -5620px; } 
.s0ae1b8ae801f6ddf943d22a8669bd08d { background-position: 0 -5665px; } 