body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.help-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #444;
}

button.accordion {
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel.show {
    max-height: 500px; /* Adjust max-height as needed */
}

.panel p, .panel ol, .panel ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.panel ol, .panel ul {
    padding-left: 20px;
}


/* Back button styles */
.back-button {
    display: block;
    width: 120px;
    margin: 20px auto;
    padding: 10px;
    background-color: #e50914; /* Netflix red color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #be0811; /* Darker shade of Netflix red on hover */
}